  <div class="d-flex justify-content-start flex-wrap mt-1 mb-3">
    <h2 class="ml-2 text-shadow">Active Challenges</h2>
  </div>
  <div class="d-flex justify-content-start gap-between flex-wrap ml-3 mr-3">
    <!-- how to restrict to take only three challenges -->
    <% Challenge.all.each do |challenge| %>
    <% user_challenge = UserChallenge.where(challenge: challenge, user: current_user).first %>
    <% if !user_challenge.nil? && user_challenge.status != "finished" %>

    <div class="challenge-card" id="challenge-anchor">

      <div class="card-info">
        <div class="num-xp"> <%= challenge.xp %>XP</div>
        <h3 class="text-center"><%= challenge.name.capitalize %> challenge</h3>
        <i class="fas fa-book-reader center"></i>
        <p class="p-1 text-center"><%= challenge.description %></p>
        <!-- choose method pluralized -->

        <% if user_challenge.nil? %>
        <i class="far fa-hourglass"></i>
        <p class="p-1 text-center"><%= challenge.duration %> day(s)</p>
        <% elsif user_challenge.status == "started" %>
        <i class="fas fa-hourglass-half"></i>
        <p class="p-1 text-center"> <%= user_challenge.time_ago  %></p>
        <% end %>
        </div>

<!-- // Delete this: -->
<div class="btn-container mb-3">
          <%= link_to complete_challenge_path(user_challenge), { remote: true, method: :post} do  %>
              <i class="fas fa-check-circle approve"></i>
          <% end %>

          <a data-toggle="modal" data-target="#staticBackdrop">
            <i class="fas fa-times-circle cancel"></i>
          </a>
</div>
<!-- // Update this: -->
      <div class="d-flex mb-3">
        <% if  user_challenge.duration_passed? && user_challenge.status != "finished" %>
          <p class="p-1 text-center">"Complete?"</p>

          <%= link_to complete_challenge_path(user_challenge), { remote: true, method: :post} do  %>
              <i class="fas fa-check-circle approve"></i>
          <% end %>
          <%= link_to decline_challenge_path(user_challenge), { remote: true, method: :post} do  %>
              <i class="fas fa-times-circle cancel"></i>
          <% end %>

        <% end %>
     </div>
<!-- // Do not change line below: -->

    </div>
    <% end %>
    <% end %>
    <% if UserChallenge.all == [] %>
    <p> <strong>Add a new challenge!</strong></p>
    <% end %>
  </div>
      <%= render "modal-plant-tree" %>
