<div class="container">
  <div class="row">
    <div class="col-sm-12 col-lg-8">
      <!-- User Bar -->
      <div class="user-bar back-border mt-1 mb-1">
        <%= render 'userbar' %>
      </div>
      <!-- Active Challenges -->
      <div class="challenge-bar back-border mt-1 mb-1">
       <%= render 'activeChallenges' %>
      </div>
      <!-- Browse Challenges -->
      <div class="challenge-bar back-border">
      <%= render 'browseChallenges' %>
      </div>
    </div>
  <div class=" col-sm-12 col-lg-4">
    <div class="friends-bar back-border mt-1 mb-1">

      <div class="searchbar">
        <h3 class="text-shadow"> Search for a friend:</h3>
        <%= render "searchbar" %>
      </div>

        <div class="d-flex flex-row justify-content-between align-items-center mt-1 mb-1 mr-2">
          <h3 class="ml-2 text-shadow">Friends</h3>
      </div>
      <div class="friends mb-2" id="friend-container">
        <%# current_user.friendships.each do |friend|%>
        <%= render 'users/friend-list', friendship: current_user.friendships %>
        <%# end %>
      </div>
    </div>
    <!-- Completed Challenges -->
    <div class="history-bar back-border mt-1 mb-1">
      <%= render 'historybar' %>
    </div>
    <!-- Calculated Emission Fields -->
    <div class="transport-bar back-border mt-1 mb-1">
      <%= render 'transportbar' %>
    </div>
  </div>
</div>
</div>
