<div class="container">
  <div class="row">
    <div class="col-sm-12 col-lg-8">
      <div class="user-bar back-border mt-1 mb-1">
        <div class="row">

          <div class="col-8 col-md-6 col-lg-4 mt-1">
            <div class="flex-animal-screen">
              <h2 class="text-center"><strong><%= @animal_name.upcase %></strong></h2>
              <%= image_tag(@animal, class: 'animal mt-2 pic-center') %>
              <%= link_to new_user_survey_path(current_user) do  %>
              <button class="btn-recalculate center-bt">Recalculate</button>
              <% end %>
            </div>
          </div>

          <div class="col-4 col-md-6 col-lg-2 mt-1">

            <div class="progress-bar">
              <div class="progress-bar-item">
                <%= image_tag(@animal, class: 'animal-small border-around') %>
                <%= @animal_level %>
              </div>
              <span><i class="fas fa-angle-double-down"></i></span>
              <div class="progress-bar-item">
                <%= image_tag(@animal_next_level_pic, class: 'animal-small border-around') %>
                <%= @animal_next_level %>
              </div>
            </div>
          </div>

          <div class="col-sm-12 col-lg-6 mt-1">
            <div class="text-info-user">
              <h4>Hi, <strong><%= @user.full_name %></strong>, your personal progress for today really impressive!</h4>
              <h5>Keep going to reach next level!</h5>
              <p>Lorem, ipsum dolor sit, amet consectetur adipisicing elit. Adipisci cumque incidunt exercitationem.</p>
            </div>

          </div>
        </div>

      </div>

      <div class="challenge-bar back-border">

       <%= render 'activeChallenges' %>
     </div>
     <div class="challenge-bar back-border">
      <%= render 'browseChallenges' %>

    </div>

  </div>

    <div class=" col-sm-12 col-lg-4">
      <div class="friends-bar back-border mt-1 mb-1">

        <div class="searchbar">
          <h3 class="text-shadow"> Search for a friend:</h3>
          <%= render "searchbar" %>
        </div>

        <div class="d-flex flex-row justify-content-between align-items-center mt-1 mb-3 mr-2">
          <h3 class="ml-2 text-shadow">Friends</h3>
          <a href="">Invite more friends <i class="fas fa-plus"></i></a>
          <%#= link_to (path) do %>
          <!--   -->
          <%# end %>
        </div>
        <div class="friends mb-2">
          <% current_user.friendships.each do |friend|%>
          <% if friend.friendship_status == "accepted" %>
          <div class="row mb-1">
            <div class="col-2">
              <%= image_tag('woman.svg', class: 'avatar') %>
            </div>
            <div class="col-4"><p><%= User.find(friend.friend_id).first_name.capitalize %></p></div>
            <div class="col-3">
              <div class="avatar-num-xp "><%= User.find(friend.friend_id).xp %></div>
            </div>
            <div class="col-3">
              <%= image_tag('lion.svg', class: 'avatar') %>
            </div>
          </div>
          <% end %>
          <% end %>

          <div class="row mb-1">
            <div class="col-2">
              <%= image_tag('woman.svg', class: 'avatar') %>
            </div>
            <div class="col-4"><p>Friend's name</p></div>
            <div class="col-3">
              <div class="avatar-num-xp ">200XP</div>
            </div>
            <div class="col-3">
              <%= image_tag('lion.svg', class: 'avatar') %>
            </div>
          </div>
          <div class="row mb-1">
            <div class="col-2">
              <%= image_tag('woman.svg', class: 'avatar') %>
            </div>
            <div class="col-4"><p>Friend's name</p></div>
            <div class="col-3">
              <div class="avatar-num-xp ">300XP</div>
            </div>
            <div class="col-3">
              <%= image_tag('fox.svg', class: 'avatar') %>
            </div>
          </div>
          <div class="row mb-1">
            <div class="col-2">
              <%= image_tag('man.svg', class: 'avatar') %>
            </div>
            <div class="col-4"><p>Friend's name</p></div>
            <div class="col-3">
              <div class="avatar-num-xp ">400XP</div>
            </div>
            <div class="col-3">
              <%= image_tag('penguin.svg', class: 'avatar') %>
            </div>
          </div>
          <div class="row mb-1">
            <div class="col-2">
              <%= image_tag('woman.svg', class: 'avatar') %>
            </div>
            <div class="col-4"><p>Friend's name</p></div>
            <div class="col-3">
              <div class="avatar-num-xp ">500XP</div>
            </div>
            <div class="col-3">
              <%= image_tag('owl.svg', class: 'avatar') %>
            </div>
          </div>
          <div class="row mb-1">
            <div class="col-2">
              <%= image_tag('man.svg', class: 'avatar') %>
            </div>
            <div class="col-4"><p>Friend's name</p></div>
            <div class="col-3">
              <div class="avatar-num-xp ">700XP</div>
            </div>
            <div class="col-3">
              <%= image_tag('bird.svg', class: 'avatar') %>
            </div>
          </div>
        </div>

      </div>
      <div class="history-bar back-border mt-1 mb-1">
        <h3 class="ml-2 text-shadow text-24">Completed Challenges</h3>
        <!-- Add links to the previous challenge cards -->
        <div class="d-flex justify-content-between flex-wrap gap-between mt-1 ml-3 mr-3">

         <% @challenges.each do |user_challenge| %>
         <% if user_challenge.completed %>
         <div class="challenge-card-mini">
          <div class="card-picture"><%= image_tag('shower.svg', class: 'animal-mid center') %></div>
          <div class="card-info">
            <h3 class="text-center"><%= user_challenge.challenge.name %></h3>

          </div>
        </div>
        <% end %>
        <% end %>
      </div>
    </div>
    <div class="transport-bar back-border mt-1 mb-1">
      <h3 class="ml-2 text-shadow text-24">Last added transport</h3>
      <!-- Add links to the previous challenge cards -->
      <div class="d-flex justify-content-between flex-wrap gap-between mt-1 ml-3 mr-3">
       <div class="transport-card">
        <% if @user.transports.last&.category == "car" %>
        <h4> <i class="fas fa-car"></i> <%= @user.transports.last&.value %> CO2/year </h4>
        <%  elsif @user.transports.last&.category == "bike" %>
        <h4> <i class="fas fa-bicycle"></i> <%= @user.transports.last&.value %> CO2/year </h4>
        <%#  elsif @user.transports.last&.category == "plane" %>
        <!-- <h4> <i class="fas fa-plane"></i> <%#= @user.transports.last&.value %> CO2/year </h4> -->
        <%#  elsif @user.transports.last&.category == "train" %>
        <!-- <h4> <i class="fas fa-train"></i> <%#= @user.transports.last&.value %> CO2/year </h4> -->
        <% else %>
        <h4> <i class="fas fa-fish"></i> explore your daily emmision... </h4>
        <% end %>
      </div>
    </div>
  </div>
</div>
</div>
</div>
</div>
<!-- <script>
  document.getElementById("challenge-accept").addEventListener("click", function() {
  document.getElementById("challenge-accept").innerHTML = "In progress";
  document.getElementById("challenge-accept").disabled = true;
});
</script> -->

<script>
  (function($) {

  $(".cata-sub-nav").on('scroll', function() {
      $val = $(this).scrollLeft();

      if($(this).scrollLeft() + $(this).innerWidth()>=$(this)[0].scrollWidth){
          $(".nav-next").hide();
        } else {
        $(".nav-next").show();
      }

      if($val == 0){
        $(".nav-prev").hide();
      } else {
        $(".nav-prev").show();
      }
    });
  console.log( 'init-scroll: ' + $(".nav-next").scrollLeft() );
  $(".nav-next").on("click", function(){
    $(".cata-sub-nav").animate( { scrollLeft: '+=460' }, 200);

  });
  $(".nav-prev").on("click", function(){
    $(".cata-sub-nav").animate( { scrollLeft: '-=460' }, 200);
  });



})(jQuery);
</script>


























